/*--------------PC-----------------*/
@media screen and (min-width:600px){
#about{ width: 500px; overflow: hidden; margin:100px auto; }
#aboutImg{ width: 500px; height: 100px; margin:50px auto; background-image: url(../img/about.jpg);}
#about p { text-align: center; font-style: inherit; font-size: 12pt; color: gray; margin: 0 0 50px 0;}
}

/*모바일 버전*/
@media screen and (max-width:599px){
#aboutImg{ width: 300px; height: 100px; margin:50px auto; background-image: url(../img/aboutMo.jpg); background-repeat: no-repeat;}
#about{ width: 300px; overflow: hidden; margin:50px auto; }
#about p { text-align: center; font-style: inherit; font-size: 12pt; color: gray; margin: 0 0 50px 0;}
}
