

/*-----pc버전--------*/
@media screen and (min-width:600px){
    /*--메인배너--*/
    #main{ width:100%; height: 770px; background-color: #36849b; background-image: url(../img/main.jpg); background-position: center; background-repeat:no-repeat; }
    li { list-style:none; }
    a { text-decoration:none; color:#333; }
    
    /*--슬라이드--*/
    #slideWrap {width:100vw; height:500px; margin:0 auto 50px auto; overflow: hidden; /*background-color: chartreuse;*/ position: relative;}
    .next_btn{ width: 100px; height: 100px; text-align: center; position: absolute; right:59px; top:210px; cursor: pointer;}
    .prev_btn{ width: 100px; height: 100px; text-align: center; position: absolute; left:59px; top:210px; cursor: pointer;}
    #slide { width:200vw; height:500px;}/*1600px*/
    #slide a#back1{ width: 100vw; height: 500px; background-color:#bad5de;} /*800px*/
    #slide a#back2{width: 100vw; height: 500px; background-color:#ffcfcf;}
    #slide a{ text-align: center; display: inline-block;}
    /*--모바일슬라이드--*/
    #mobileSlideWrap{display: none;}
    .subtitle{ text-align: center; margin: 0; font-family: 'Balsamiq Sans', cursive; font-size: 15pt; color: #bcbcbc;}
    
    /*--상품썸네일--*/
    section{width:1180px; height: 840px; margin: 30px auto; position: relative;}
    section .prodImg{ width: 380px; height: 380px; position: absolute; background-color: indianred;}
    .prodImg:nth-child(1){left: 10px; top: 10px; background-image: url(../img/prod1.jpg);}
    .prodImg:nth-child(2){left: 400px; top: 10px; background-image: url(../img/prod2.jpg);}
    .prodImg:nth-child(3){left: 790px; top: 10px; background-image: url(../img/prod3.jpg);}
    .prodImg:nth-child(4){left: 10px; top: 450px; background-image: url(../img/prod4.jpg);}
    .prodImg:nth-child(5){left: 400px; top: 450px; background-image: url(../img/prod5.jpg);}
    .prodImg:nth-child(6){left: 790px; top: 450px; background-image: url(../img/prod6.jpg);}

    .prodImg p{ display: none;  width:100%; height:100%; padding:150px 0; box-sizing: border-box; text-align: center; color: white; background-color:rgba(0,0,0,0.5); position: relative; }
    .prodImg a p::before{content: ""; width: 200px; height: 5px; border-top:1px solid white ; position: absolute; left:90px; top:180px;}

    .prodMo{display: none;}
    /*--기타배너--*/
    section:nth-of-type(2){width: 800px; height: 500px; position: relative; /*background-color: goldenrod;*/}
    section #banner1{width: 341px; height: 302px; float: left; position: absolute;}
    section #banner2{width: 341px; height: 186px; float: left; position: absolute; bottom: 0;}
    section #banner3{width: 445px; height: 501px; float: left; position: absolute; right: 0;}
    section #moreBtn {top:50px; position: absolute; right: 30px; }
    section #moreBtn a {font-size: 10pt; color: #ececec;}
    section table { top:100px; position: absolute; right: 15px; font-size: 12pt; font-family: 'Nanum Gothic', sans-serif;}
    section table td { height: 30px; border-collapse: collapse;}


    /*--SNS--*/
    #snsGallery{width: 1170px; height: 250px; margin: 30px auto 50px auto; position: relative;}
    .snsImg{width: 285px; height: 250px; background-color: #36849b; position: absolute;}
    .snsImg a {width: 285px; height: 251px;}
    .snsImg:nth-of-type(2){ left:295px;}
    .snsImg:nth-of-type(3){ left:590px;}
    .snsImg:nth-of-type(4){ left:885px;}



    

}
    

/*모바일 버전*/
@media screen and (max-width:599px){

    /*--메인배너--*/
    .next_btn{display: none;}
    .prev_btn{display: none;}
    #main{ width:100%; height: 300px; background: no-repeat center #36849b; background-image:url(../img/mainMo.jpg);}
    #slide{display: none;}
    #mobileSlideWrap {width:100vw; height:500px; margin:0 auto 50px auto; overflow: hidden; /*background-color: chartreuse;*/}
    #mobileSlide { width:200vw; height:500px;}/*1600px*/
    .next_btn{ width: 100px; height: 100px; text-align: center; position: absolute; right:59px; top:210px; cursor: pointer;}
    .prev_btn{ width: 100px; height: 100px; text-align: center; position: absolute; left:59px; top:210px; cursor: pointer;}
    #mobileSlide a#back1{ width: 100vw; height: 500px; background-color:#bad5de;} /*800px*/
    #mobileSlide a#back2{width: 100vw; height: 500px; background-color:#ffcfcf;}
    #mobileSlide a{ text-align: center; display: inline-block;}
    .subtitle{display: none;}
    /*--상품썸네일--*/
    section{width:100%; overflow:hidden;  padding:10px 0; margin:20px auto; /*background-color: goldenrod;*/}
    section .prodMo{ width: 50%; height:200px; float:left;}
    section .prodMo .prodImg{ width: 170px; height: 150px; margin: auto;}
   
    .prod{ display: none;}
    /*--상품이름--*/
    .prodName{text-align: center; color: black;}
    /*--가격--*/
    .price{ text-align: center;}
    section:nth-of-type(2){display: none;}
    #snsGallery{display: none;}

}

  



    