/*--------------PC-----------------*/
@media screen and (min-width:600px){
#login{width: 500px; height: 380px; border: 1px solid #cacaca; margin: 100px auto; position: relative;}
h2{ margin-top: 30px; text-align: center; color: #696969;}
#userId{width: 300px; height: 40px; margin: 20px 30px; border: 1px solid #cacaca;}
#userPwd{width: 300px; height: 40px; margin: 0 30px; border: 1px solid #cacaca;}
#loginBtn{width: 100px; height: 100px; position: absolute; left: 360px; top:82px; border: none; cursor: pointer; background-color: #6fafad; color: #f2f2f2; font-weight: bold;}
p a{float: left; margin: 10px 30px;}
p:nth-of-type(3){clear: both; margin: 10px 30px;}
p:nth-of-type(4){margin: 10px 30px;}
#joinBtn{width: 100px; height: 30px; background-color:#6fafad; position: absolute; left:360px; top:270px; cursor: pointer;}
#joinBtn a { display: block; text-align: center; line-height: 30px;color: #f2f2f2; font-weight: bold;}
hr{width: 480px; margin: auto;}

}

/*-------------모바일------------------*/
@media screen and (max-width:599px){
    #loginWrap{width: 100%; overflow: hidden; padding: 10px 0 150px;}
    #login{width: 320px; overflow: hidden; padding: 30px 0; border: 1px solid #cacaca; margin:0 auto; box-sizing: border-box; position: relative;}
    h2{text-align: center; color: #696969;}
    #userId{width: 300px; height: 40px; border: 1px solid #cacaca; margin: 20px auto; padding: 5px; display: block; box-sizing: border-box;}
    #userPwd{width: 300px; height: 40px; border: 1px solid #cacaca; margin: 0 auto; padding: 5px; display: block; box-sizing: border-box;}
    #loginBtn{width: 300px; height: 40px; margin: 20px auto; border: none; cursor: pointer; background-color: #6fafad; display: block; color: #f2f2f2; font-weight: bold;}
    p a{float: left; margin: 5px 10px;}
    p:nth-of-type(3){clear: both; margin: 10px;}
    p:nth-of-type(4){margin: 10px; display: inline-block;}
    #joinBtn{width: 80px; height: 30px; cursor: pointer; background-color: #6fafad; position: absolute; top:340px; right: 10px;}
    #joinBtn a { display: block; text-align: center; line-height: 30px; color: #f2f2f2; font-weight: bold;}
    hr{width: 300px; margin: auto;}
}